In [58]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from time import sleep

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser=Browser("chrome", **executable_path, headless=False)

In [3]:
# create function soup for the usniversal usage for several urls
def sooup(url):
    browser.visit(url)
    html=browser.html
    soup=bs(html,'lxml')
    return soup

In [4]:
# all the urls we will use
url1="https://en.wikipedia.org/wiki/List_of_covers_of_Time_magazine_(1970s)"
url2="https://en.wikipedia.org/wiki/List_of_covers_of_Time_magazine_(1980s)"
url3="https://en.wikipedia.org/wiki/List_of_covers_of_Time_magazine_(1990s)"
url4="https://en.wikipedia.org/wiki/List_of_covers_of_Time_magazine_(2000s)"
url5="https://en.wikipedia.org/wiki/List_of_covers_of_Time_magazine_(2010s)"

### 1970s, 1980s data scrapings: text type

In [5]:
# create a function 'titleA' for getting the names in 1970s and 1980s
def titleA(sooup):
    names_by_year={}
    names = []
    spans = sooup.find_all('span', class_='mw-headline')
    years=[y.text for y in spans]

    for idx, yearr in enumerate(years):
        names_by_year[yearr] = []
        current_span = spans[idx]
        header = current_span.parent
        div = header.find_next('div')
        
        lis = div.find_all('li')
        for l in lis:
            try:
                cover_name=l.find('a').attrs['title']
                names_by_year[yearr].append(cover_name)
                names.append({
                    'name': cover_name,
                    'year': yearr
                })
#                 print(cover_name)

            except:
                pass
        
    return names

In [8]:
# 1970s(1977 starts from 269)
names1=titleA(sooup(url1)) #1970s
df1=pd.DataFrame(names1)
#df1=df1[269:385]
df1.head()
#df1.count() 386 total

                             name  year
0  Middle America (United States)  1970
1                        The Band  1970
2                   Najeeb Halaby  1970
3                          Biafra  1970
4                  Barry Commoner  1970

In [9]:
names2=titleA(sooup(url2)) #1980s
names2
df2=pd.DataFrame(names2)
df2.head()
#df2.count() #283
#df2['name'].unique()
#df2['name'].unique_value()

                name  year
0  Ruhollah Khomeini  1980
1       Jimmy Carter  1980
2        Eric Heiden  1980
3         Dan Rather  1980
4      Peter Sellers  1980

### 1990s, 2000s, 2010s ata scrapings: table type

In [10]:
# create a data with name/year
def titleB(sooup):
    names_by_year={}
    names = []
    spans = sooup.find_all('span', class_='mw-headline')
    years=[y.text for y in spans]

    for idx, yearr in enumerate(years):
        names_by_year[yearr] = []
        current_span = spans[idx]
        header = current_span.parent
        div = header.find_next('table')
        
        lis = div.find_all('td')
        for l in lis:
            try:
                cover_name=l.find('a').attrs['title']
                names_by_year[yearr].append(cover_name)
                names.append({
                    'name': cover_name,
                    'year': yearr
                })
#                 print(cover_name)

            except:
                pass
        
    return names

In [11]:
names3=titleB(sooup(url3)) #1990s
names3
df3=pd.DataFrame(names3)
df3.head()
#df3.count() #252

                name  year
0  Mikhail Gorbachev  1990
1           Joe Foss  1990
2     Nelson Mandela  1990
3     Michael Milken  1990
4       Soviet Union  1990

In [12]:
names4=titleB(sooup(url4)) #2000s
names4
df4=pd.DataFrame(names4)
df4.head()
#df4.count() #183 total

                name  year
0         Steve Case  2000
1     George W. Bush  2000
2        John McCain  2000
3  Leonardo DiCaprio  2000
4     George W. Bush  2000

In [19]:
# 2010-2017 (upto 316 included)
names5=titleB(sooup(url5))
names5a=names5[0:317] 
names5a
df5a=pd.DataFrame(names5)
df5a.tail()
#df5a.count() #317

                                                  name        year
323                                       Greta Gerwig        2018
324                                      Emma González        2018
325                                       Viktor Orbán        2018
326            List of covers of Time magazine (2000s)  References
327  List of covers of Time magazine (2020s) (page ...  References

In [36]:
#add 2018 prtion [317-328]
df5b=df5[317:328]
df5b
#df5b.to_csv('df5b.csv', index=False) 
df5c=pd.read_csv('df5b.csv', encoding='utf-8')# Then filtered, final total 8 rows
df5c

               name  year
0        Bill Gates  2018
1      Donald Trump  2018
2      Donald Trump  2018
3  Chadwick Boseman  2018
4     Black Panther  2018
5      Greta Gerwig  2018
6     Emma González  2018
7      Viktor Orbán  2018

In [40]:
#combine all the data from 1970s to 2010s
df_all=pd.concat([df1, df2,df3,df4,df5a])
df_all.head()
#df_all.count() #1157=>1449
#df_all.to_csv('names_by_years.csv', index=False) #1970-2017 # Then filtered, final total 1220

#df_allA=pd.read_csv('names_by_years.csv', encoding='utf-8') 
#df_allA.head()
#df_allA.count()

name    1220
year    1220
dtype: int64

In [43]:
df_final=pd.concat([df_allA, df5c])
df_final.tail()
df_final.count() #1228
#df_final.to_csv('names_by_years.csv', encoding='utf-8')
final=pd.read_csv('names_by_years.csv', encoding='utf-8') 
final.count()

Unnamed: 0    1228
name          1228
year          1228
dtype: int64

### create a dataset including 'decade' column

In [45]:
# value_counts by decade (from 1970-part of 2018)
df_47yrs = pd.read_csv('names_by_years.csv', encoding='utf-8')
df_47yrs['decade']=''
df_47yrs.loc[ df_47yrs['year']>=2010,['decade']]=['2010s']
df_47yrs.loc[(df_47yrs['year']>=2000) & (df_47yrs['year']<2010) ,['decade']]=['2000s']
df_47yrs.loc[(df_47yrs['year']>=1990) & (df_47yrs['year']<2000) ,['decade']]=['1990s']
df_47yrs.loc[(df_47yrs['year']>=1980) & (df_47yrs['year']<1990) ,['decade']]=['1980s']
df_47yrs.loc[ df_47yrs['year']< 1980 ,['decade']]=['1970s']
df_47yrs.count()
df_47yrs.to_csv('decade_47yrs.csv', index=False)

# x2=df_47yrs[df_47yrs['decade']=='2010s']['name'].value_counts().to_frame(name="count") 
# x2['name']=x2.index
# x2 = x2.reset_index(drop=True)
# x2

Unnamed: 0    1228
name          1228
year          1228
decade        1228
dtype: int64

### convert csv to json

In [46]:
import sqlite3
from sqlalchemy import create_engine

In [48]:
# 'names_by_years' to sqlite
engine=create_engine('sqlite:///names_by_years_tbl.sqlite',echo=False)
df_47yrs = pd.read_csv('names_by_years.csv', encoding='utf-8')
df_47yrs.to_sql('names_by_years_tbl',con=engine)
x=engine.execute("SELECT * FROM names_by_years_tbl").fetchall()
x

[(0, 0, 'The Band', 1970),
 (1, 1, 'Najeeb Halaby', 1970),
 (2, 2, 'Biafra', 1970),
 (3, 3, 'Barry Commoner', 1970),
 (4, 4, 'Jane Fonda', 1970),
 (5, 5, 'Anita Caspary', 1970),
 (6, 6, 'Jesse Jackson', 1970),
 (7, 7, 'Günter Grass', 1970),
 (8, 8, 'Richard Nixon', 1970),
 (9, 9, 'Jim Lovell', 1970),
 (10, 10, 'Leonid Brezhnev', 1970),
 (11, 11, 'William H. Masters', 1970),
 (12, 12, 'Arthur Burns', 1970),
 (13, 13, 'Richard Nixon', 1970),
 (14, 14, 'Mike Nichols', 1970),
 (15, 15, 'Edward Heath', 1970),
 (16, 16, 'Jerry Vernon Wilson', 1970),
 (17, 17, 'Henry Ford II', 1970),
 (18, 18, 'Alaska', 1970),
 (19, 19, 'William P. Rogers', 1970),
 (20, 20, 'Howard Stein', 1970),
 (21, 21, 'Kate Millett', 1970),
 (22, 22, 'Elliott Gould', 1970),
 (23, 23, 'John Fairchild', 1970),
 (24, 24, 'Richard Nixon', 1970),
 (25, 25, 'Gamal Abdel Nasser', 1970),
 (26, 26, 'Salvador Allende', 1970),
 (27, 27, 'Adlai Stevenson III', 1970),
 (28, 28, 'Martha Beall Mitchell', 1970),
 (29, 29, 'Elmo Zumwalt', 1970),
 (30, 30, 'Willy Brandt', 1971),
 (31, 31, 'Ali MacGraw', 1971),
 (32, 32, 'Philip Berrigan', 1971),
 (33, 33, 'Carl Albert', 1971),
 (34, 34, 'Creighton Abrams', 1971),
 (35, 35, 'James Taylor', 1971),
 (36, 36, 'Joe Frazier', 1971),
 (37, 37, 'George C. Scott', 1971),
 (38, 38, 'Konstantin Katushev', 1971),
 (39, 39, 'William Calley', 1971),
 (40, 40, 'Alexis Smith', 1971),
 (41, 41, 'Akio Morita', 1971),
 (42, 42, 'Anwar Sadat', 1971),
 (43, 43, 'Jimmy Carter', 1971),
 (44, 44, 'Dick Cavett', 1971),
 (45, 45, 'Edward F. Cox', 1971),
 (46, 46, 'Daniel Ellsberg', 1971),
 (47, 47, 'Joseph Colombo', 1971),
 (48, 48, 'Lee Trevino', 1971),
 (49, 49, 'Henry Kissinger', 1971),
 (50, 50, 'David Scott', 1971),
 (51, 51, 'George Shultz', 1971),
 (52, 52, 'Vida Blue', 1971),
 (53, 53, 'Richard Nixon', 1971),
 (54, 54, 'George Meany', 1971),
 (55, 55, 'Edmund Muskie', 1971),
 (56, 56, 'B. F. Skinner', 1971),
 (57, 57, 'Attica Prison riot', 1971),
 (58, 58, 'Emperor Hirohito', 1971),
 (59, 59, 'John Connally', 1971),
 (60, 60, 'William Rehnquist', 1971),
 (61, 61, 'Chou En-lai', 1971),
 (62, 62, 'Beverly Sills', 1971),
 (63, 63, 'Edward Kennedy', 1971),
 (64, 64, 'Indira Gandhi', 1971),
 (65, 65, 'Richard Nixon', 1972),
 (66, 66, 'Roger Staubach', 1972),
 (67, 67, 'Howard Hughes', 1972),
 (68, 68, 'Flip Wilson', 1972),
 (69, 69, 'Henry Kissinger', 1972),
 (70, 70, 'Robert Coles', 1972),
 (71, 71, 'Clifford Irving', 1972),
 (72, 72, 'Liza Minnelli', 1972),
 (73, 73, 'Richard Nixon', 1972),
 (74, 74, 'George Wallace', 1972),
 (75, 75, 'Jack Anderson', 1972),
 (76, 76, 'Richard Nixon', 1972),
 (77, 77, 'George McGovern', 1972),
 (78, 78, 'Võ Nguyên Giáp', 1972),
 (79, 79, 'Leonid Brezhnev', 1972),
 (80, 80, 'Kemmons Wilson', 1972),
 (81, 81, 'Edwin Land', 1972),
 (82, 82, 'Woody Allen', 1972),
 (83, 83, 'Johnny Bench', 1972),
 (84, 84, 'Kenneth Elstein', 1972),
 (85, 85, 'George McGovern', 1972),
 (86, 86, 'Boris Spassky', 1972),
 (87, 87, 'Thomas Eagleton', 1972),
 (88, 88, 'Sargent Shriver', 1972),
 (89, 89, 'Richard Nixon', 1972),
 (90, 90, 'Mark Spitz', 1972),
 (91, 91, 'Redd Foxx', 1972),
 (92, 92, 'Richard Nixon', 1972),
 (93, 93, 'Pat Nixon', 1972),
 (94, 94, 'Joe Namath', 1972),
 (95, 95, 'Henry Kissinger', 1972),
 (96, 96, 'Richard Bach', 1972),
 (97, 97, 'Richard Nixon', 1972),
 (98, 98, 'Ernest and Julio Gallo', 1972),
 (99, 99, 'Liv Ullmann', 1972),
 (100, 100, 'Don Shula', 1972),
 (101, 101, 'Henry Kissinger', 1973),
 (102, 102, 'Marlon Brando', 1973),
 (103, 103, 'Ian Anderson', 1973),
 (104, 104, 'George Shultz', 1973),
 (105, 105, 'Carlos Castaneda', 1973),
 (106, 106, 'Robert A. Good', 1973),
 (107, 107, 'L. Patrick Gray', 1973),
 (108, 108, 'Muammar Gaddafi', 1973),
 (109, 109, 'Sam Ervin', 1973),
 (110, 110, 'Pedro Arrupe', 1973),
 (111, 111, 'Georg Solti', 1973),
 (112, 112, 'Richard Nixon', 1973),
 (113, 113, 'John N. Mitchell', 1973),
 (114, 114, 'Richard Nixon', 1973),
 (115, 115, 'Leonid Brezhnev', 1973),
 (116, 116, 'John Dean', 1973),
 (117, 117, 'John Dean', 1973),
 (118, 118, 'Marilyn Monroe', 1973),
 (119, 119, 'John N. Mitchell', 1973),
 (120, 120, 'Richard Nixon', 1973),
 (121, 121, 'Wendell Anderson', 1973),
 (122, 122, 'Spiro Agnew', 1973),
 (123, 123, 'Henry Kissinger', 1973),
 (124, 124, 'Bobby Riggs', 1973),
 (125, 125, 'Salvador Allende', 1973),
 (126, 126, 'Spiro Agnew', 1973),
 (127, 127, 'Spiro Agnew', 1973),
 (128, 128, 'Gerald Ford', 1973),
 (129, 129, 'Archibald Cox', 1973),
 (130, 130, 'Richard Nixon', 1973),
 (131, 131, 'Peter Falk', 1973),
 (132, 132, 'Rose Mary Woods', 1973),
 (133, 133, 'Gerald Ford', 1973),
 (134, 134, 'John Sirica', 1974),
 (135, 135, 'William E. Simon', 1974),
 (136, 136, 'Nixon White House tapes', 1974),
 (137, 137, "Tip O'Neill", 1974),
 (138, 138, 'James Schlesinger', 1974),
 (139, 139, 'Exxon', 1974),
 (140, 140, 'Aleksandr Solzhenitsyn', 1974),
 (141, 141, 'Leon Jaworski', 1974),
 (142, 142, 'Robert Redford', 1974),
 (143, 143, 'James D. St. Clair', 1974),
 (144, 144, 'Henry Kissinger', 1974),
 (145, 145, 'Richard Nixon', 1974),
 (146, 146, 'Patty Hearst', 1974),
 (147, 147, 'Merle Haggard', 1974),
 (148, 148, 'Richard Nixon', 1974),
 (149, 149, 'Reggie Jackson', 1974),
 (150, 150, 'Henry Kissinger', 1974),
 (151, 151, 'Anwar Sadat', 1974),
 (152, 152, 'Leonid Brezhnev', 1974),
 (153, 153, 'Supreme Court', 1974),
 (154, 154, 'Peter W. Rodino', 1974),
 (155, 155, 'Jack Nicholson', 1974),
 (156, 156, 'Gerald Ford', 1974),
 (157, 157, 'Nelson Rockefeller', 1974),
 (158, 158, 'Gerald Ford', 1974),
 (159, 159, 'William Colby', 1974),
 (160, 160, 'Betty Ford', 1974),
 (161, 161, 'Jerry Brown', 1974),
 (162, 162, 'Mary Tyler Moore', 1974),
 (163, 163, 'Mohammad Reza Pahlavi', 1974),
 (164, 164, 'Yasser Arafat', 1974),
 (165, 165, 'David L. Boren', 1974),
 (166, 166, 'Yitzhak Rabin', 1974),
 (167, 167, 'Joni Mitchell', 1974),
 (168, 168, 'Biblical Magi', 1974),
 (169, 169, 'John Laragh', 1975),
 (170, 170, 'Gerald Ford', 1975),
 (171, 171, 'Chou En-Lai', 1975),
 (172, 172, 'Henry M. Jackson', 1975),
 (173, 173, 'Bernie Parent', 1975),
 (174, 174, 'American Jews', 1975),
 (175, 175, 'Cher', 1975),
 (176, 176, 'Gerald Ford', 1975),
 (177, 177, 'Jimmy Connors', 1975),
 (178, 178, 'Ho Chi Minh', 1975),
 (179, 179, 'Mikhail Baryshnikov', 1975),
 (180, 180, 'Mayaguez Incident', 1975),
 (181, 181, 'Anwar Sadat', 1975),
 (182, 182, 'Margaux Hemingway', 1975),
 (183, 183, 'Elton John', 1975),
 (184, 184, 'Adam Smith', 1975),
 (185, 185, 'Ford family', 1975),
 (186, 186, 'Gerald Ford', 1975),
 (187, 187, 'Otelo Saraiva de Carvalho', 1975),
 (188, 188, 'Charles O. Finley', 1975),
 (189, 189, 'Yitzhak Rabin', 1975),
 (190, 190, 'Lynette Alice Fromme', 1975),
 (191, 191, 'Patricia Hearst', 1975),
 (192, 192, 'Gerald Ford', 1975),
 (193, 193, 'Maharishi Mahesh Yogi', 1975),
 (194, 194, 'Abraham Beame', 1975),
 (195, 195, 'Bruce Springsteen', 1975),
 (196, 196, 'Juan Carlos', 1975),
 (197, 197, 'Sarah Caldwell', 1975),
 (198, 198, 'Donald Rumsfeld', 1975),
 (199, 199, 'Ronald Reagan', 1975),
 (200, 200, "Bloomingdale's", 1975),
 (201, 201, 'L. C. Greenwood', 1975),
 (202, 202, 'Marisa Berenson', 1975),
 (203, 203, 'J. Edgar Hoover', 1975),
 (204, 204, 'Mother Teresa', 1975),
 (205, 205, 'Betty Ford', 1976),
 (206, 206, "Teng Hsiao-p'ing", 1976),
 (207, 207, 'Daniel Patrick Moynihan', 1976),
 (208, 208, 'Dorothy Hamill', 1976),
 (209, 209, 'Doonesbury', 1976),
 (210, 210, 'F. Lee Bailey', 1976),
 (211, 211, 'Gore Vidal', 1976),
 (212, 212, 'Jimmy Carter', 1976),
 (213, 213, 'Dustin Hoffman', 1976),
 (214, 214, 'Howard Hughes', 1976),
 (215, 215, 'Jimmy Carter', 1976),
 (216, 216, 'Gerald Ford', 1976),
 (217, 217, 'Paul McCartney', 1976),
 (218, 218, 'Enrico Berlinguer', 1976),
 (219, 219, 'Jimmy Carter', 1976),
 (220, 220, 'Thomas Jefferson', 1976),
 (221, 221, 'Jimmy Carter', 1976),
 (222, 222, 'Nadia Comăneci', 1976),
 (223, 223, 'Gerald Ford', 1976),
 (224, 224, 'Mao Tse-tung', 1976),
 (225, 225, 'Jimmy Carter', 1976),
 (226, 226, 'Ian Smith', 1976),
 (227, 227, 'Gerald Ford', 1976),
 (228, 228, 'Jimmy Carter', 1976),
 (229, 229, 'Jimmy Carter', 1976),
 (230, 230, 'Robert Rauschenberg', 1976),
 (231, 231, 'Howard Hughes', 1976),
 (232, 232, 'Hamilton Jordan', 1976),
 (233, 233, 'Jimmy Carter', 1977),
 (234, 234, 'Super Bowl XI', 1977),
 (235, 235, 'Rupert Murdoch', 1977),
 (236, 236, 'Amy Carter', 1977),
 (237, 237, 'Alex Haley', 1977),
 (238, 238, 'Andrei Sakharov', 1977),
 (239, 239, 'Linda Ronstadt', 1977),
 (240, 240, 'Idi Amin', 1977),
 (241, 241, 'Marabel Morgan', 1977),
 (242, 242, 'Jiang Qing', 1977),
 (243, 243, 'Lily Tomlin', 1977),
 (244, 244, 'James Schlesinger', 1977),
 (245, 245, 'Jimmy Carter', 1977),
 (246, 246, 'Uncle Sam', 1977),
 (247, 247, 'Richard Nixon', 1977),
 (248, 248, 'Harold Brown', 1977),
 (249, 249, 'Menachem Begin', 1977),
 (250, 250, 'Jody Powell', 1977),
 (251, 251, 'Peter Frampton', 1977),
 (252, 252, 'James Earl Ray', 1977),
 (253, 253, 'Adolfo Suárez', 1977),
 (254, 254, 'Rod Carew', 1977),
 (255, 255, 'Jimmy Carter', 1977),
 (256, 256, 'Arthur Ochs Sulzberger', 1977),
 (257, 257, 'Panama Canal', 1977),
 (258, 258, 'Fred Silverman', 1977),
 (259, 259, 'Bert Lance', 1977),
 (260, 260, 'Diane Keaton', 1977),
 (261, 261, 'John le Carré', 1977),
 (262, 262, 'Jimmy Carter', 1977),
 (263, 263, 'Mstislav Rostropovich', 1977),
 (264, 264, 'Hanns Martin Schleyer', 1977),
 (265, 265, 'Richard Leakey', 1977),
 (266, 266, 'John Vorster', 1977),
 (267, 267, 'Anwar Sadat', 1977),
 (268, 268, 'Dixy Lee Ray', 1977),
 (269, 269, 'Jesus', 1977),
 (270, 270, 'Anwar Sadat', 1978),
 (271, 271, 'Burt Reynolds', 1978),
 (272, 272, 'Super Bowl XII', 1978),
 (273, 273, 'Robert Byrd', 1978),
 (274, 274, 'Michael Blumenthal', 1978),
 (275, 275, 'Stansfield Turner', 1978),
 (276, 276, 'Pierre Trudeau', 1978),
 (277, 277, 'Muhammad Ali', 1978),
 (278, 278, 'Cheryl Tiegs', 1978),
 (279, 279, 'Menachem Begin', 1978),
 (280, 280, 'John Travolta', 1978),
 (281, 281, 'Saul Steinberg', 1978),
 (282, 282, 'Cyrus Vance', 1978),
 (283, 283, 'Gelsey Kirkland', 1978),
 (284, 284, 'Charles, Prince of Wales', 1978),
 (285, 285, 'Steve Cauthen', 1978),
 (286, 286, 'Joseph Califano', 1978),
 (287, 287, 'Howard Jarvis', 1978),
 (288, 288, 'Warren Beaty', 1978),
 (289, 289, 'G. William Miller', 1978),
 (290, 290, 'Nathan Sharansky', 1978),
 (291, 291, 'Sebastiano Baggio', 1978),
 (292, 292, 'Mario Puzo', 1978),
 (293, 293, 'John Paul I', 1978),
 (294, 294, 'Menachem Begin', 1978),
 (295, 295, 'Menachem Begin', 1978),
 (296, 296, 'Jimmy Carter', 1978),
 (297, 297, 'John Paul I', 1978),
 (298, 298, 'John Paul II', 1978),
 (299, 299, 'Pat Benedict', 1978),
 (300, 300, 'Letitia Baldrige', 1978),
 (301, 301, 'Michel Bergerac', 1978),
 (302, 302, 'Jimmy Carter', 1978),
 (303, 303, 'Teng Hsiao-ping', 1979),
 (304, 304, 'Philip Johnson', 1979),
 (305, 305, 'Leonid Brezhnev', 1979),
 (306, 306, 'Teng Hsiao-ping', 1979),
 (307, 307, 'Ruhollah Khomeini', 1979),
 (308, 308, 'Albert Einstein', 1979),
 (309, 309, 'Iran', 1979),
 (310, 310, 'Sino-Vietnamese War', 1979),
 (311, 311, 'Robin Williams', 1979),
 (312, 312, 'Jimmy Carter', 1979),
 (313, 313, 'Homosexuality in America', 1979),
 (314, 314, 'Woody Allen', 1979),
 (315, 315, 'Margaret Thatcher', 1979),
 (316, 316, 'Russell Baker', 1979),
 (317, 317, 'Helmut Schmidt', 1979),
 (318, 318, 'John Paul II', 1979),
 (319, 319, 'Jimmy Carter', 1979),
 (320, 320, 'Jimmy Carter', 1979),
 (321, 321, 'Diane Lane', 1979),
 (322, 322, 'Ansel Adams', 1979),
 (323, 323, 'John Connally', 1979),
 (324, 324, 'Cyrus Vance', 1979),
 (325, 325, 'Luciano Pavarotti', 1979),
 (326, 326, 'Henry Kissinger', 1979),
 (327, 327, 'José López Portillo', 1979),
 (328, 328, 'John Paul II', 1979),
 (329, 329, 'Paul Volcker', 1979),
 (330, 330, 'David C. Jones', 1979),
 (331, 331, 'Edward Kennedy', 1979),
 (332, 332, 'Ruhollah Khomeini', 1979),
 (333, 333, 'Mohammad Reza Shah', 1979),
 (334, 334, 'Ruhollah Khomeini', 1980),
 (335, 335, 'Jimmy Carter', 1980),
 (336, 336, 'Eric Heiden', 1980),
 (337, 337, 'Dan Rather', 1980),
 (338, 338, 'Peter Sellers', 1980),
 (339, 339, 'Ronald Reagan', 1980),
 (340, 340, 'Jimmy Carter', 1980),
 (341, 341, 'Interferon', 1980),
 (342, 342, 'Thornton Wilson', 1980),
 (343, 343, 'Jimmy Carter', 1980),
 (344, 344, 'Jimmy Carter', 1980),
 (345, 345, 'Edmund Muskie', 1980),
 (346, 346, 'Darth Vader', 1980),
 (347, 347, 'Pablo Picasso', 1980),
 (348, 348, 'Björn Borg', 1980),
 (349, 349, 'Ronald Reagan', 1980),
 (350, 350, 'Billy Carter', 1980),
 (351, 351, 'Larry Hagman', 1980),
 (352, 352, 'Jimmy Carter', 1980),
 (353, 353, 'Jimmy Carter', 1980),
 (354, 354, 'Thomas Murphy', 1980),
 (355, 355, 'Bear Bryant', 1980),
 (356, 356, 'Jimmy Carter', 1980),
 (357, 357, 'Carl Sagan', 1980),
 (358, 358, 'Jimmy Carter', 1980),
 (359, 359, 'Ronald Reagan', 1980),
 (360, 360, 'Jane Pauley', 1980),
 (361, 361, 'John Lennon', 1980),
 (362, 362, 'Lech Walesa', 1980),
 (363, 363, 'Ronald Reagan', 1981),
 (364, 364, 'Brooke Shields', 1981),
 (365, 365, 'Margaret Thatcher', 1981),
 (366, 366, 'Herbert Boyer', 1981),
 (367, 367, 'Alexander Haig', 1981),
 (368, 368, 'Ronald Reagan', 1981),
 (369, 369, 'Diana, Princess of Wales', 1981),
 (370, 370, 'Billy Martin', 1981),
 (371, 371, 'Menachem Begin', 1981),
 (372, 372, 'Pope John Paul II assassination attempt', 1981),
 (373, 373, 'Ed Koch', 1981),
 (374, 374, 'Operation Opera', 1981),
 (375, 375, 'François Mitterrand', 1981),
 (376, 376, "Sandra Day O'Connor", 1981),
 (377, 377, 'Caspar Weinberger', 1981),
 (378, 378, 'Charles, Prince of Wales', 1981),
 (379, 379, 'James Rouse', 1981),
 (380, 380, 'John Irving', 1981),
 (381, 381, 'Meryl Streep', 1981),
 (382, 382, 'Jesse Helms', 1981),
 (383, 383, 'Ronald Reagan', 1981),
 (384, 384, 'Nicholas Nickelby', 1981),
 (385, 385, 'Anwar Sadat', 1981),
 (386, 386, 'Ronald Reagan', 1981),
 (387, 387, 'Katharine Hepburn', 1981),
 (388, 388, 'Muammar Gaddafi', 1981),
 (389, 389, 'Wojciech Jaruzelski', 1981),
 (390, 390, 'Lech Walesa', 1982),
 (391, 391, 'Joe Montana', 1982),
 (392, 392, 'Franklin D. Roosevelt', 1982),
 (393, 393, 'Steve Jobs', 1982),
 (394, 394, 'Jaclyn Smith', 1982),
 (395, 395, 'Henry Kissinger', 1982),
 (396, 396, 'Paul Volcker', 1982),
 (397, 397, 'Giorgio Armani', 1982),
 (398, 398, 'Howard Baker', 1982),
 (399, 399, 'John Paul II', 1982),
 (400, 400, 'Gerry Cooney', 1982),
 (401, 401, 'George Shultz', 1982),
 (402, 402, 'Ayatullah Khomeini', 1982),
 (403, 403, 'Ted Turner', 1982),
 (404, 404, 'James G. Watt', 1982),
 (405, 405, 'Menachem Begin', 1982),
 (406, 406, 'Ariel Sharon', 1982),
 (407, 407, 'Jimmy Carter', 1982),
 (408, 408, 'John Updike', 1982),
 (409, 409, 'John De Lorean', 1982),
 (410, 410, 'Yuri Andropov', 1982),
 (411, 411, 'Joseph Bernardin', 1982),
 (412, 412, 'Paul Newman', 1982),
 (413, 413, 'Ronald Reagan', 1982),
 (414, 414, 'Miguel de la Madrid', 1982),
 (415, 415, 'James Levine', 1983),
 (416, 416, 'Pershing II', 1983),
 (417, 417, 'Robert Mitchum', 1983),
 (418, 418, 'Menachem Begin', 1983),
 (419, 419, 'Princess Diana', 1983),
 (420, 420, 'Franklin C. Spinney', 1983),
 (421, 421, 'John Paul II', 1983),
 (422, 422, 'Lee Iacocca', 1983),
 (423, 423, 'Ronald Reagan', 1983),
 (424, 424, 'Claude Pepper', 1983),
 (425, 425, 'Nastassja Kinski', 1983),
 (426, 426, 'George Lucas', 1983),
 (427, 427, 'Margaret Thatcher', 1983),
 (428, 428, 'John Paul II', 1983),
 (429, 429, 'David Bowie', 1983),
 (430, 430, 'William P. Clark', 1983),
 (431, 431, 'Jesse Jackson', 1983),
 (432, 432, 'Ben Colli', 1983),
 (433, 433, 'Peter Ueberroth', 1983),
 (434, 434, 'Ronald Reagan', 1983),
 (435, 435, 'John F. Kennedy', 1983),
 (436, 436, 'George Orwell', 1983),
 (437, 437, 'Hafez Assad', 1983),
 (438, 438, 'Ronald Reagan', 1984),
 (439, 439, 'John Paul II', 1984),
 (440, 440, 'Arthur Rock', 1984),
 (441, 441, 'Phil Mahre', 1984),
 (442, 442, 'Ronald Reagan', 1984),
 (443, 443, 'Yuri Andropov', 1984),
 (444, 444, 'Konstantin Chernenko', 1984),
 (445, 445, 'Martin Feldstein', 1984),
 (446, 446, 'Gary Hart', 1984),
 (447, 447, 'Michael Jackson', 1984),
 (448, 448, 'Alexander Haig', 1984),
 (449, 449, 'Bill Gates', 1984),
 (450, 450, 'Jesse Jackson', 1984),
 (451, 451, 'Shirley MacLaine', 1984),
 (452, 452, 'Geraldine Ferraro', 1984),
 (453, 453, 'Walter Mondale', 1984),
 (454, 454, 'Andrei A. Gromyko', 1984),
 (455, 455, 'Erma Bombeck', 1984),
 (456, 456, 'Shimon Peres', 1984),
 (457, 457, 'Geraldine Ferraro', 1984),
 (458, 458, 'Carl Lewis', 1984),
 (459, 459, 'Carl Lewis', 1984),
 (460, 460, 'Ronald Reagan', 1984),
 (461, 461, 'Geraldine Ferraro', 1984),
 (462, 462, 'Brian Mulroney', 1984),
 (463, 463, 'Andrei A. Gromyko', 1984),
 (464, 464, 'Ronald Reagan', 1984),
 (465, 465, 'Ronald Reagan', 1984),
 (466, 466, 'Indira Gandhi', 1984),
 (467, 467, 'Ronald Reagan', 1984),
 (468, 468, 'William DeVries', 1984),
 (469, 469, 'David Lean', 1984),
 (470, 470, 'Peter Ueberroth', 1985),
 (471, 471, 'Nancy Reagan', 1985),
 (472, 472, 'Donald Regan', 1985),
 (473, 473, 'John Paul II', 1985),
 (474, 474, 'T. Boone Pickens', 1985),
 (475, 475, 'Larry Bird', 1985),
 (476, 476, 'Mikhail Gorbachev', 1985),
 (477, 477, 'Lee Iacocca', 1985),
 (478, 478, 'Bernhard Goetz', 1985),
 (479, 479, 'Ronald Reagan', 1985),
 (480, 480, 'Madonna', 1985),
 (481, 481, 'Steven Spielberg', 1985),
 (482, 482, 'Pete Rose', 1985),
 (483, 483, 'Jerry Falwell', 1985),
 (484, 484, 'Mikhail Gorbachev', 1985),
 (485, 485, 'Philip Michael Thomas', 1985),
 (486, 486, 'Deng Xiaoping', 1985),
 (487, 487, 'Ronald Reagan', 1985),
 (488, 488, 'Toxic Waste', 1985),
 (489, 489, 'Ronald Reagan', 1985),
 (490, 490, 'Garrison Keillor', 1985),
 (491, 491, 'Prince Charles', 1985),
 (492, 492, 'Ronald Reagan', 1985),
 (493, 493, 'Ronald Reagan', 1985),
 (494, 494, 'Teenage Pregnancy', 1985),
 (495, 495, 'Deng Xiaoping', 1986),
 (496, 496, 'Donald Burr', 1986),
 (497, 497, 'William Perry', 1986),
 (498, 498, 'Corazon Aquino', 1986),
 (499, 499, 'Pat Robertson', 1986),
 (500, 500, 'Corazon Aquino', 1986),
 (501, 501, 'Michael Deaver', 1986),
 (502, 502, 'Corazon Aquino', 1986),
 (503, 503, 'Daniel Ortega', 1986),
 (504, 504, 'Dwight Gooden', 1986),
 (505, 505, 'Muammar Gaddafi', 1986),
 (506, 506, 'Vladimir Horowitz', 1986),
 (507, 507, 'Molly Ringwald', 1986),
 (508, 508, 'Mario Cuomo', 1986),
 (509, 509, 'William Rehnquist', 1986),
 (510, 510, 'Ronald Reagan', 1986),
 (511, 511, 'Sigourney Weaver', 1986),
 (512, 512, 'Andrew Wyeth', 1986),
 (513, 513, 'Ralph Lauren', 1986),
 (514, 514, 'Derek Bok', 1986),
 (515, 515, 'Laurence Tisch', 1986),
 (516, 516, 'John Gotti', 1986),
 (517, 517, 'Stephen King', 1986),
 (518, 518, 'Ronald Reagan', 1986),
 (519, 519, 'David Byrne', 1986),
 (520, 520, 'Ivan Boesky', 1986),
 (521, 521, 'Neil Simon', 1986),
 (522, 522, 'Oliver North', 1986),
 (523, 523, 'Corazon Aquino', 1987),
 (524, 524, 'Adnan Khashoggi', 1987),
 (525, 525, 'Oliver Stone', 1987),
 (526, 526, 'Dennis Conner', 1987),
 (527, 527, 'Bette Midler', 1987),
 (528, 528, 'Ronald Reagan', 1987),
 (529, 529, 'Howard Baker', 1987),
 (530, 530, 'Jimmy Swaggart', 1987),
 (531, 531, 'U2', 1987),
 (532, 532, 'Gary Hart', 1987),
 (533, 533, 'Alan Greenspan', 1987),
 (534, 534, 'Chun Doo Hwan', 1987),
 (535, 535, 'Oliver North', 1987),
 (536, 536, 'Oliver North', 1987),
 (537, 537, 'Mikhail Gorbachev', 1987),
 (538, 538, 'Khomeini', 1987),
 (539, 539, 'Steve Martin', 1987),
 (540, 540, 'Robert Bork', 1987),
 (541, 541, 'Bill Cosby', 1987),
 (542, 542, 'Glenn Close', 1987),
 (543, 543, 'Shirley Maclaine', 1987),
 (544, 544, 'Mikhail Gorbachev', 1987),
 (545, 545, 'Gary Hart', 1987),
 (546, 546, 'Mikhail Gorbachev', 1988),
 (547, 547, 'Andrew Lloyd Webber', 1988),
 (548, 548, 'Dan Rather', 1988),
 (549, 549, 'Debi Thomas', 1988),
 (550, 550, 'Manuel Noriega', 1988),
 (551, 551, 'George H.W. Bush', 1988),
 (552, 552, 'Jesse Jackson', 1988),
 (553, 553, 'Michael Eisner', 1988),
 (554, 554, 'Michael Dukakis', 1988),

In [49]:
#'decade_47yrs' to sqlite
engine=create_engine('sqlite:///decade_47yrs_tbl.sqlite',echo=False)
df_f= pd.read_csv('decade_47yrs.csv', encoding='utf-8')
df_f.to_sql('decade_47yrs_tbl',con=engine)
x2=engine.execute("SELECT * FROM decade_47yrs_tbl").fetchall()
x2

[(0, 0, 'The Band', 1970, '1970s'),
 (1, 1, 'Najeeb Halaby', 1970, '1970s'),
 (2, 2, 'Biafra', 1970, '1970s'),
 (3, 3, 'Barry Commoner', 1970, '1970s'),
 (4, 4, 'Jane Fonda', 1970, '1970s'),
 (5, 5, 'Anita Caspary', 1970, '1970s'),
 (6, 6, 'Jesse Jackson', 1970, '1970s'),
 (7, 7, 'Günter Grass', 1970, '1970s'),
 (8, 8, 'Richard Nixon', 1970, '1970s'),
 (9, 9, 'Jim Lovell', 1970, '1970s'),
 (10, 10, 'Leonid Brezhnev', 1970, '1970s'),
 (11, 11, 'William H. Masters', 1970, '1970s'),
 (12, 12, 'Arthur Burns', 1970, '1970s'),
 (13, 13, 'Richard Nixon', 1970, '1970s'),
 (14, 14, 'Mike Nichols', 1970, '1970s'),
 (15, 15, 'Edward Heath', 1970, '1970s'),
 (16, 16, 'Jerry Vernon Wilson', 1970, '1970s'),
 (17, 17, 'Henry Ford II', 1970, '1970s'),
 (18, 18, 'Alaska', 1970, '1970s'),
 (19, 19, 'William P. Rogers', 1970, '1970s'),
 (20, 20, 'Howard Stein', 1970, '1970s'),
 (21, 21, 'Kate Millett', 1970, '1970s'),
 (22, 22, 'Elliott Gould', 1970, '1970s'),
 (23, 23, 'John Fairchild', 1970, '1970s'),
 (24, 24, 'Richard Nixon', 1970, '1970s'),
 (25, 25, 'Gamal Abdel Nasser', 1970, '1970s'),
 (26, 26, 'Salvador Allende', 1970, '1970s'),
 (27, 27, 'Adlai Stevenson III', 1970, '1970s'),
 (28, 28, 'Martha Beall Mitchell', 1970, '1970s'),
 (29, 29, 'Elmo Zumwalt', 1970, '1970s'),
 (30, 30, 'Willy Brandt', 1971, '1970s'),
 (31, 31, 'Ali MacGraw', 1971, '1970s'),
 (32, 32, 'Philip Berrigan', 1971, '1970s'),
 (33, 33, 'Carl Albert', 1971, '1970s'),
 (34, 34, 'Creighton Abrams', 1971, '1970s'),
 (35, 35, 'James Taylor', 1971, '1970s'),
 (36, 36, 'Joe Frazier', 1971, '1970s'),
 (37, 37, 'George C. Scott', 1971, '1970s'),
 (38, 38, 'Konstantin Katushev', 1971, '1970s'),
 (39, 39, 'William Calley', 1971, '1970s'),
 (40, 40, 'Alexis Smith', 1971, '1970s'),
 (41, 41, 'Akio Morita', 1971, '1970s'),
 (42, 42, 'Anwar Sadat', 1971, '1970s'),
 (43, 43, 'Jimmy Carter', 1971, '1970s'),
 (44, 44, 'Dick Cavett', 1971, '1970s'),
 (45, 45, 'Edward F. Cox', 1971, '1970s'),
 (46, 46, 'Daniel Ellsberg', 1971, '1970s'),
 (47, 47, 'Joseph Colombo', 1971, '1970s'),
 (48, 48, 'Lee Trevino', 1971, '1970s'),
 (49, 49, 'Henry Kissinger', 1971, '1970s'),
 (50, 50, 'David Scott', 1971, '1970s'),
 (51, 51, 'George Shultz', 1971, '1970s'),
 (52, 52, 'Vida Blue', 1971, '1970s'),
 (53, 53, 'Richard Nixon', 1971, '1970s'),
 (54, 54, 'George Meany', 1971, '1970s'),
 (55, 55, 'Edmund Muskie', 1971, '1970s'),
 (56, 56, 'B. F. Skinner', 1971, '1970s'),
 (57, 57, 'Attica Prison riot', 1971, '1970s'),
 (58, 58, 'Emperor Hirohito', 1971, '1970s'),
 (59, 59, 'John Connally', 1971, '1970s'),
 (60, 60, 'William Rehnquist', 1971, '1970s'),
 (61, 61, 'Chou En-lai', 1971, '1970s'),
 (62, 62, 'Beverly Sills', 1971, '1970s'),
 (63, 63, 'Edward Kennedy', 1971, '1970s'),
 (64, 64, 'Indira Gandhi', 1971, '1970s'),
 (65, 65, 'Richard Nixon', 1972, '1970s'),
 (66, 66, 'Roger Staubach', 1972, '1970s'),
 (67, 67, 'Howard Hughes', 1972, '1970s'),
 (68, 68, 'Flip Wilson', 1972, '1970s'),
 (69, 69, 'Henry Kissinger', 1972, '1970s'),
 (70, 70, 'Robert Coles', 1972, '1970s'),
 (71, 71, 'Clifford Irving', 1972, '1970s'),
 (72, 72, 'Liza Minnelli', 1972, '1970s'),
 (73, 73, 'Richard Nixon', 1972, '1970s'),
 (74, 74, 'George Wallace', 1972, '1970s'),
 (75, 75, 'Jack Anderson', 1972, '1970s'),
 (76, 76, 'Richard Nixon', 1972, '1970s'),
 (77, 77, 'George McGovern', 1972, '1970s'),
 (78, 78, 'Võ Nguyên Giáp', 1972, '1970s'),
 (79, 79, 'Leonid Brezhnev', 1972, '1970s'),
 (80, 80, 'Kemmons Wilson', 1972, '1970s'),
 (81, 81, 'Edwin Land', 1972, '1970s'),
 (82, 82, 'Woody Allen', 1972, '1970s'),
 (83, 83, 'Johnny Bench', 1972, '1970s'),
 (84, 84, 'Kenneth Elstein', 1972, '1970s'),
 (85, 85, 'George McGovern', 1972, '1970s'),
 (86, 86, 'Boris Spassky', 1972, '1970s'),
 (87, 87, 'Thomas Eagleton', 1972, '1970s'),
 (88, 88, 'Sargent Shriver', 1972, '1970s'),
 (89, 89, 'Richard Nixon', 1972, '1970s'),
 (90, 90, 'Mark Spitz', 1972, '1970s'),
 (91, 91, 'Redd Foxx', 1972, '1970s'),
 (92, 92, 'Richard Nixon', 1972, '1970s'),
 (93, 93, 'Pat Nixon', 1972, '1970s'),
 (94, 94, 'Joe Namath', 1972, '1970s'),
 (95, 95, 'Henry Kissinger', 1972, '1970s'),
 (96, 96, 'Richard Bach', 1972, '1970s'),
 (97, 97, 'Richard Nixon', 1972, '1970s'),
 (98, 98, 'Ernest and Julio Gallo', 1972, '1970s'),
 (99, 99, 'Liv Ullmann', 1972, '1970s'),
 (100, 100, 'Don Shula', 1972, '1970s'),
 (101, 101, 'Henry Kissinger', 1973, '1970s'),
 (102, 102, 'Marlon Brando', 1973, '1970s'),
 (103, 103, 'Ian Anderson', 1973, '1970s'),
 (104, 104, 'George Shultz', 1973, '1970s'),
 (105, 105, 'Carlos Castaneda', 1973, '1970s'),
 (106, 106, 'Robert A. Good', 1973, '1970s'),
 (107, 107, 'L. Patrick Gray', 1973, '1970s'),
 (108, 108, 'Muammar Gaddafi', 1973, '1970s'),
 (109, 109, 'Sam Ervin', 1973, '1970s'),
 (110, 110, 'Pedro Arrupe', 1973, '1970s'),
 (111, 111, 'Georg Solti', 1973, '1970s'),
 (112, 112, 'Richard Nixon', 1973, '1970s'),
 (113, 113, 'John N. Mitchell', 1973, '1970s'),
 (114, 114, 'Richard Nixon', 1973, '1970s'),
 (115, 115, 'Leonid Brezhnev', 1973, '1970s'),
 (116, 116, 'John Dean', 1973, '1970s'),
 (117, 117, 'John Dean', 1973, '1970s'),
 (118, 118, 'Marilyn Monroe', 1973, '1970s'),
 (119, 119, 'John N. Mitchell', 1973, '1970s'),
 (120, 120, 'Richard Nixon', 1973, '1970s'),
 (121, 121, 'Wendell Anderson', 1973, '1970s'),
 (122, 122, 'Spiro Agnew', 1973, '1970s'),
 (123, 123, 'Henry Kissinger', 1973, '1970s'),
 (124, 124, 'Bobby Riggs', 1973, '1970s'),
 (125, 125, 'Salvador Allende', 1973, '1970s'),
 (126, 126, 'Spiro Agnew', 1973, '1970s'),
 (127, 127, 'Spiro Agnew', 1973, '1970s'),
 (128, 128, 'Gerald Ford', 1973, '1970s'),
 (129, 129, 'Archibald Cox', 1973, '1970s'),
 (130, 130, 'Richard Nixon', 1973, '1970s'),
 (131, 131, 'Peter Falk', 1973, '1970s'),
 (132, 132, 'Rose Mary Woods', 1973, '1970s'),
 (133, 133, 'Gerald Ford', 1973, '1970s'),
 (134, 134, 'John Sirica', 1974, '1970s'),
 (135, 135, 'William E. Simon', 1974, '1970s'),
 (136, 136, 'Nixon White House tapes', 1974, '1970s'),
 (137, 137, "Tip O'Neill", 1974, '1970s'),
 (138, 138, 'James Schlesinger', 1974, '1970s'),
 (139, 139, 'Exxon', 1974, '1970s'),
 (140, 140, 'Aleksandr Solzhenitsyn', 1974, '1970s'),
 (141, 141, 'Leon Jaworski', 1974, '1970s'),
 (142, 142, 'Robert Redford', 1974, '1970s'),
 (143, 143, 'James D. St. Clair', 1974, '1970s'),
 (144, 144, 'Henry Kissinger', 1974, '1970s'),
 (145, 145, 'Richard Nixon', 1974, '1970s'),
 (146, 146, 'Patty Hearst', 1974, '1970s'),
 (147, 147, 'Merle Haggard', 1974, '1970s'),
 (148, 148, 'Richard Nixon', 1974, '1970s'),
 (149, 149, 'Reggie Jackson', 1974, '1970s'),
 (150, 150, 'Henry Kissinger', 1974, '1970s'),
 (151, 151, 'Anwar Sadat', 1974, '1970s'),
 (152, 152, 'Leonid Brezhnev', 1974, '1970s'),
 (153, 153, 'Supreme Court', 1974, '1970s'),
 (154, 154, 'Peter W. Rodino', 1974, '1970s'),
 (155, 155, 'Jack Nicholson', 1974, '1970s'),
 (156, 156, 'Gerald Ford', 1974, '1970s'),
 (157, 157, 'Nelson Rockefeller', 1974, '1970s'),
 (158, 158, 'Gerald Ford', 1974, '1970s'),
 (159, 159, 'William Colby', 1974, '1970s'),
 (160, 160, 'Betty Ford', 1974, '1970s'),
 (161, 161, 'Jerry Brown', 1974, '1970s'),
 (162, 162, 'Mary Tyler Moore', 1974, '1970s'),
 (163, 163, 'Mohammad Reza Pahlavi', 1974, '1970s'),
 (164, 164, 'Yasser Arafat', 1974, '1970s'),
 (165, 165, 'David L. Boren', 1974, '1970s'),
 (166, 166, 'Yitzhak Rabin', 1974, '1970s'),
 (167, 167, 'Joni Mitchell', 1974, '1970s'),
 (168, 168, 'Biblical Magi', 1974, '1970s'),
 (169, 169, 'John Laragh', 1975, '1970s'),
 (170, 170, 'Gerald Ford', 1975, '1970s'),
 (171, 171, 'Chou En-Lai', 1975, '1970s'),
 (172, 172, 'Henry M. Jackson', 1975, '1970s'),
 (173, 173, 'Bernie Parent', 1975, '1970s'),
 (174, 174, 'American Jews', 1975, '1970s'),
 (175, 175, 'Cher', 1975, '1970s'),
 (176, 176, 'Gerald Ford', 1975, '1970s'),
 (177, 177, 'Jimmy Connors', 1975, '1970s'),
 (178, 178, 'Ho Chi Minh', 1975, '1970s'),
 (179, 179, 'Mikhail Baryshnikov', 1975, '1970s'),
 (180, 180, 'Mayaguez Incident', 1975, '1970s'),
 (181, 181, 'Anwar Sadat', 1975, '1970s'),
 (182, 182, 'Margaux Hemingway', 1975, '1970s'),
 (183, 183, 'Elton John', 1975, '1970s'),
 (184, 184, 'Adam Smith', 1975, '1970s'),
 (185, 185, 'Ford family', 1975, '1970s'),
 (186, 186, 'Gerald Ford', 1975, '1970s'),
 (187, 187, 'Otelo Saraiva de Carvalho', 1975, '1970s'),
 (188, 188, 'Charles O. Finley', 1975, '1970s'),
 (189, 189, 'Yitzhak Rabin', 1975, '1970s'),
 (190, 190, 'Lynette Alice Fromme', 1975, '1970s'),
 (191, 191, 'Patricia Hearst', 1975, '1970s'),
 (192, 192, 'Gerald Ford', 1975, '1970s'),
 (193, 193, 'Maharishi Mahesh Yogi', 1975, '1970s'),
 (194, 194, 'Abraham Beame', 1975, '1970s'),
 (195, 195, 'Bruce Springsteen', 1975, '1970s'),
 (196, 196, 'Juan Carlos', 1975, '1970s'),
 (197, 197, 'Sarah Caldwell', 1975, '1970s'),
 (198, 198, 'Donald Rumsfeld', 1975, '1970s'),
 (199, 199, 'Ronald Reagan', 1975, '1970s'),
 (200, 200, "Bloomingdale's", 1975, '1970s'),
 (201, 201, 'L. C. Greenwood', 1975, '1970s'),
 (202, 202, 'Marisa Berenson', 1975, '1970s'),
 (203, 203, 'J. Edgar Hoover', 1975, '1970s'),
 (204, 204, 'Mother Teresa', 1975, '1970s'),
 (205, 205, 'Betty Ford', 1976, '1970s'),
 (206, 206, "Teng Hsiao-p'ing", 1976, '1970s'),
 (207, 207, 'Daniel Patrick Moynihan', 1976, '1970s'),
 (208, 208, 'Dorothy Hamill', 1976, '1970s'),
 (209, 209, 'Doonesbury', 1976, '1970s'),
 (210, 210, 'F. Lee Bailey', 1976, '1970s'),
 (211, 211, 'Gore Vidal', 1976, '1970s'),
 (212, 212, 'Jimmy Carter', 1976, '1970s'),
 (213, 213, 'Dustin Hoffman', 1976, '1970s'),
 (214, 214, 'Howard Hughes', 1976, '1970s'),
 (215, 215, 'Jimmy Carter', 1976, '1970s'),
 (216, 216, 'Gerald Ford', 1976, '1970s'),
 (217, 217, 'Paul McCartney', 1976, '1970s'),
 (218, 218, 'Enrico Berlinguer', 1976, '1970s'),
 (219, 219, 'Jimmy Carter', 1976, '1970s'),
 (220, 220, 'Thomas Jefferson', 1976, '1970s'),
 (221, 221, 'Jimmy Carter', 1976, '1970s'),
 (222, 222, 'Nadia Comăneci', 1976, '1970s'),
 (223, 223, 'Gerald Ford', 1976, '1970s'),
 (224, 224, 'Mao Tse-tung', 1976, '1970s'),
 (225, 225, 'Jimmy Carter', 1976, '1970s'),
 (226, 226, 'Ian Smith', 1976, '1970s'),
 (227, 227, 'Gerald Ford', 1976, '1970s'),
 (228, 228, 'Jimmy Carter', 1976, '1970s'),
 (229, 229, 'Jimmy Carter', 1976, '1970s'),
 (230, 230, 'Robert Rauschenberg', 1976, '1970s'),
 (231, 231, 'Howard Hughes', 1976, '1970s'),
 (232, 232, 'Hamilton Jordan', 1976, '1970s'),
 (233, 233, 'Jimmy Carter', 1977, '1970s'),
 (234, 234, 'Super Bowl XI', 1977, '1970s'),
 (235, 235, 'Rupert Murdoch', 1977, '1970s'),
 (236, 236, 'Amy Carter', 1977, '1970s'),
 (237, 237, 'Alex Haley', 1977, '1970s'),
 (238, 238, 'Andrei Sakharov', 1977, '1970s'),
 (239, 239, 'Linda Ronstadt', 1977, '1970s'),
 (240, 240, 'Idi Amin', 1977, '1970s'),
 (241, 241, 'Marabel Morgan', 1977, '1970s'),
 (242, 242, 'Jiang Qing', 1977, '1970s'),
 (243, 243, 'Lily Tomlin', 1977, '1970s'),
 (244, 244, 'James Schlesinger', 1977, '1970s'),
 (245, 245, 'Jimmy Carter', 1977, '1970s'),
 (246, 246, 'Uncle Sam', 1977, '1970s'),
 (247, 247, 'Richard Nixon', 1977, '1970s'),
 (248, 248, 'Harold Brown', 1977, '1970s'),
 (249, 249, 'Menachem Begin', 1977, '1970s'),
 (250, 250, 'Jody Powell', 1977, '1970s'),
 (251, 251, 'Peter Frampton', 1977, '1970s'),
 (252, 252, 'James Earl Ray', 1977, '1970s'),
 (253, 253, 'Adolfo Suárez', 1977, '1970s'),
 (254, 254, 'Rod Carew', 1977, '1970s'),
 (255, 255, 'Jimmy Carter', 1977, '1970s'),
 (256, 256, 'Arthur Ochs Sulzberger', 1977, '1970s'),
 (257, 257, 'Panama Canal', 1977, '1970s'),
 (258, 258, 'Fred Silverman', 1977, '1970s'),
 (259, 259, 'Bert Lance', 1977, '1970s'),
 (260, 260, 'Diane Keaton', 1977, '1970s'),
 (261, 261, 'John le Carré', 1977, '1970s'),
 (262, 262, 'Jimmy Carter', 1977, '1970s'),
 (263, 263, 'Mstislav Rostropovich', 1977, '1970s'),
 (264, 264, 'Hanns Martin Schleyer', 1977, '1970s'),
 (265, 265, 'Richard Leakey', 1977, '1970s'),
 (266, 266, 'John Vorster', 1977, '1970s'),
 (267, 267, 'Anwar Sadat', 1977, '1970s'),
 (268, 268, 'Dixy Lee Ray', 1977, '1970s'),
 (269, 269, 'Jesus', 1977, '1970s'),
 (270, 270, 'Anwar Sadat', 1978, '1970s'),
 (271, 271, 'Burt Reynolds', 1978, '1970s'),
 (272, 272, 'Super Bowl XII', 1978, '1970s'),
 (273, 273, 'Robert Byrd', 1978, '1970s'),
 (274, 274, 'Michael Blumenthal', 1978, '1970s'),
 (275, 275, 'Stansfield Turner', 1978, '1970s'),
 (276, 276, 'Pierre Trudeau', 1978, '1970s'),
 (277, 277, 'Muhammad Ali', 1978, '1970s'),
 (278, 278, 'Cheryl Tiegs', 1978, '1970s'),
 (279, 279, 'Menachem Begin', 1978, '1970s'),
 (280, 280, 'John Travolta', 1978, '1970s'),
 (281, 281, 'Saul Steinberg', 1978, '1970s'),
 (282, 282, 'Cyrus Vance', 1978, '1970s'),
 (283, 283, 'Gelsey Kirkland', 1978, '1970s'),
 (284, 284, 'Charles, Prince of Wales', 1978, '1970s'),
 (285, 285, 'Steve Cauthen', 1978, '1970s'),
 (286, 286, 'Joseph Califano', 1978, '1970s'),
 (287, 287, 'Howard Jarvis', 1978, '1970s'),
 (288, 288, 'Warren Beaty', 1978, '1970s'),
 (289, 289, 'G. William Miller', 1978, '1970s'),
 (290, 290, 'Nathan Sharansky', 1978, '1970s'),
 (291, 291, 'Sebastiano Baggio', 1978, '1970s'),
 (292, 292, 'Mario Puzo', 1978, '1970s'),
 (293, 293, 'John Paul I', 1978, '1970s'),
 (294, 294, 'Menachem Begin', 1978, '1970s'),
 (295, 295, 'Menachem Begin', 1978, '1970s'),
 (296, 296, 'Jimmy Carter', 1978, '1970s'),
 (297, 297, 'John Paul I', 1978, '1970s'),
 (298, 298, 'John Paul II', 1978, '1970s'),
 (299, 299, 'Pat Benedict', 1978, '1970s'),
 (300, 300, 'Letitia Baldrige', 1978, '1970s'),
 (301, 301, 'Michel Bergerac', 1978, '1970s'),
 (302, 302, 'Jimmy Carter', 1978, '1970s'),
 (303, 303, 'Teng Hsiao-ping', 1979, '1970s'),
 (304, 304, 'Philip Johnson', 1979, '1970s'),
 (305, 305, 'Leonid Brezhnev', 1979, '1970s'),
 (306, 306, 'Teng Hsiao-ping', 1979, '1970s'),
 (307, 307, 'Ruhollah Khomeini', 1979, '1970s'),
 (308, 308, 'Albert Einstein', 1979, '1970s'),
 (309, 309, 'Iran', 1979, '1970s'),
 (310, 310, 'Sino-Vietnamese War', 1979, '1970s'),
 (311, 311, 'Robin Williams', 1979, '1970s'),
 (312, 312, 'Jimmy Carter', 1979, '1970s'),
 (313, 313, 'Homosexuality in America', 1979, '1970s'),
 (314, 314, 'Woody Allen', 1979, '1970s'),
 (315, 315, 'Margaret Thatcher', 1979, '1970s'),
 (316, 316, 'Russell Baker', 1979, '1970s'),
 (317, 317, 'Helmut Schmidt', 1979, '1970s'),
 (318, 318, 'John Paul II', 1979, '1970s'),
 (319, 319, 'Jimmy Carter', 1979, '1970s'),
 (320, 320, 'Jimmy Carter', 1979, '1970s'),
 (321, 321, 'Diane Lane', 1979, '1970s'),
 (322, 322, 'Ansel Adams', 1979, '1970s'),
 (323, 323, 'John Connally', 1979, '1970s'),
 (324, 324, 'Cyrus Vance', 1979, '1970s'),
 (325, 325, 'Luciano Pavarotti', 1979, '1970s'),
 (326, 326, 'Henry Kissinger', 1979, '1970s'),
 (327, 327, 'José López Portillo', 1979, '1970s'),
 (328, 328, 'John Paul II', 1979, '1970s'),
 (329, 329, 'Paul Volcker', 1979, '1970s'),
 (330, 330, 'David C. Jones', 1979, '1970s'),
 (331, 331, 'Edward Kennedy', 1979, '1970s'),
 (332, 332, 'Ruhollah Khomeini', 1979, '1970s'),
 (333, 333, 'Mohammad Reza Shah', 1979, '1970s'),
 (334, 334, 'Ruhollah Khomeini', 1980, '1980s'),
 (335, 335, 'Jimmy Carter', 1980, '1980s'),
 (336, 336, 'Eric Heiden', 1980, '1980s'),
 (337, 337, 'Dan Rather', 1980, '1980s'),
 (338, 338, 'Peter Sellers', 1980, '1980s'),
 (339, 339, 'Ronald Reagan', 1980, '1980s'),
 (340, 340, 'Jimmy Carter', 1980, '1980s'),
 (341, 341, 'Interferon', 1980, '1980s'),
 (342, 342, 'Thornton Wilson', 1980, '1980s'),
 (343, 343, 'Jimmy Carter', 1980, '1980s'),
 (344, 344, 'Jimmy Carter', 1980, '1980s'),
 (345, 345, 'Edmund Muskie', 1980, '1980s'),
 (346, 346, 'Darth Vader', 1980, '1980s'),
 (347, 347, 'Pablo Picasso', 1980, '1980s'),
 (348, 348, 'Björn Borg', 1980, '1980s'),
 (349, 349, 'Ronald Reagan', 1980, '1980s'),
 (350, 350, 'Billy Carter', 1980, '1980s'),
 (351, 351, 'Larry Hagman', 1980, '1980s'),
 (352, 352, 'Jimmy Carter', 1980, '1980s'),
 (353, 353, 'Jimmy Carter', 1980, '1980s'),
 (354, 354, 'Thomas Murphy', 1980, '1980s'),
 (355, 355, 'Bear Bryant', 1980, '1980s'),
 (356, 356, 'Jimmy Carter', 1980, '1980s'),
 (357, 357, 'Carl Sagan', 1980, '1980s'),
 (358, 358, 'Jimmy Carter', 1980, '1980s'),
 (359, 359, 'Ronald Reagan', 1980, '1980s'),
 (360, 360, 'Jane Pauley', 1980, '1980s'),
 (361, 361, 'John Lennon', 1980, '1980s'),
 (362, 362, 'Lech Walesa', 1980, '1980s'),
 (363, 363, 'Ronald Reagan', 1981, '1980s'),
 (364, 364, 'Brooke Shields', 1981, '1980s'),
 (365, 365, 'Margaret Thatcher', 1981, '1980s'),
 (366, 366, 'Herbert Boyer', 1981, '1980s'),
 (367, 367, 'Alexander Haig', 1981, '1980s'),
 (368, 368, 'Ronald Reagan', 1981, '1980s'),
 (369, 369, 'Diana, Princess of Wales', 1981, '1980s'),
 (370, 370, 'Billy Martin', 1981, '1980s'),
 (371, 371, 'Menachem Begin', 1981, '1980s'),
 (372, 372, 'Pope John Paul II assassination attempt', 1981, '1980s'),
 (373, 373, 'Ed Koch', 1981, '1980s'),
 (374, 374, 'Operation Opera', 1981, '1980s'),
 (375, 375, 'François Mitterrand', 1981, '1980s'),
 (376, 376, "Sandra Day O'Connor", 1981, '1980s'),
 (377, 377, 'Caspar Weinberger', 1981, '1980s'),
 (378, 378, 'Charles, Prince of Wales', 1981, '1980s'),
 (379, 379, 'James Rouse', 1981, '1980s'),
 (380, 380, 'John Irving', 1981, '1980s'),
 (381, 381, 'Meryl Streep', 1981, '1980s'),
 (382, 382, 'Jesse Helms', 1981, '1980s'),
 (383, 383, 'Ronald Reagan', 1981, '1980s'),
 (384, 384, 'Nicholas Nickelby', 1981, '1980s'),
 (385, 385, 'Anwar Sadat', 1981, '1980s'),
 (386, 386, 'Ronald Reagan', 1981, '1980s'),
 (387, 387, 'Katharine Hepburn', 1981, '1980s'),
 (388, 388, 'Muammar Gaddafi', 1981, '1980s'),
 (389, 389, 'Wojciech Jaruzelski', 1981, '1980s'),
 (390, 390, 'Lech Walesa', 1982, '1980s'),
 (391, 391, 'Joe Montana', 1982, '1980s'),
 (392, 392, 'Franklin D. Roosevelt', 1982, '1980s'),
 (393, 393, 'Steve Jobs', 1982, '1980s'),
 (394, 394, 'Jaclyn Smith', 1982, '1980s'),
 (395, 395, 'Henry Kissinger', 1982, '1980s'),
 (396, 396, 'Paul Volcker', 1982, '1980s'),
 (397, 397, 'Giorgio Armani', 1982, '1980s'),
 (398, 398, 'Howard Baker', 1982, '1980s'),
 (399, 399, 'John Paul II', 1982, '1980s'),
 (400, 400, 'Gerry Cooney', 1982, '1980s'),
 (401, 401, 'George Shultz', 1982, '1980s'),
 (402, 402, 'Ayatullah Khomeini', 1982, '1980s'),
 (403, 403, 'Ted Turner', 1982, '1980s'),
 (404, 404, 'James G. Watt', 1982, '1980s'),
 (405, 405, 'Menachem Begin', 1982, '1980s'),
 (406, 406, 'Ariel Sharon', 1982, '1980s'),
 (407, 407, 'Jimmy Carter', 1982, '1980s'),
 (408, 408, 'John Updike', 1982, '1980s'),
 (409, 409, 'John De Lorean', 1982, '1980s'),
 (410, 410, 'Yuri Andropov', 1982, '1980s'),
 (411, 411, 'Joseph Bernardin', 1982, '1980s'),
 (412, 412, 'Paul Newman', 1982, '1980s'),
 (413, 413, 'Ronald Reagan', 1982, '1980s'),
 (414, 414, 'Miguel de la Madrid', 1982, '1980s'),
 (415, 415, 'James Levine', 1983, '1980s'),
 (416, 416, 'Pershing II', 1983, '1980s'),
 (417, 417, 'Robert Mitchum', 1983, '1980s'),
 (418, 418, 'Menachem Begin', 1983, '1980s'),
 (419, 419, 'Princess Diana', 1983, '1980s'),
 (420, 420, 'Franklin C. Spinney', 1983, '1980s'),
 (421, 421, 'John Paul II', 1983, '1980s'),
 (422, 422, 'Lee Iacocca', 1983, '1980s'),
 (423, 423, 'Ronald Reagan', 1983, '1980s'),
 (424, 424, 'Claude Pepper', 1983, '1980s'),
 (425, 425, 'Nastassja Kinski', 1983, '1980s'),
 (426, 426, 'George Lucas', 1983, '1980s'),
 (427, 427, 'Margaret Thatcher', 1983, '1980s'),
 (428, 428, 'John Paul II', 1983, '1980s'),
 (429, 429, 'David Bowie', 1983, '1980s'),
 (430, 430, 'William P. Clark', 1983, '1980s'),
 (431, 431, 'Jesse Jackson', 1983, '1980s'),
 (432, 432, 'Ben Colli', 1983, '1980s'),
 (433, 433, 'Peter Ueberroth', 1983, '1980s'),
 (434, 434, 'Ronald Reagan', 1983, '1980s'),
 (435, 435, 'John F. Kennedy', 1983, '1980s'),
 (436, 436, 'George Orwell', 1983, '1980s'),
 (437, 437, 'Hafez Assad', 1983, '1980s'),
 (438, 438, 'Ronald Reagan', 1984, '1980s'),
 (439, 439, 'John Paul II', 1984, '1980s'),
 (440, 440, 'Arthur Rock', 1984, '1980s'),
 (441, 441, 'Phil Mahre', 1984, '1980s'),
 (442, 442, 'Ronald Reagan', 1984, '1980s'),
 (443, 443, 'Yuri Andropov', 1984, '1980s'),
 (444, 444, 'Konstantin Chernenko', 1984, '1980s'),

### scraping the personal info (birth) from google site

In [80]:
names=df_f['name']
names[0:2]

0         The Band
1    Najeeb Halaby
Name: name, dtype: object

In [85]:
def info(names):
    data =[]
    for name in names:
 #       time.sleep(1)
        url = "https://www.google.com/search?q="
        finalurl = url + name
        browser.visit(finalurl)
        html = browser.html
        soup = bs(html, 'html.parser')
        try:
            birthdate = soup.find('span', class_='LrzXr').get_text()
    #       image = soup.select_one('div.IArpUc a g-img img').get("src")

            data.append({'name':name, 'birthdate': birthdate})
    #       data.append({'name':name, 'birthdate': birthdate, 'image': image})
     #      print(name, birthdate)
        except Exception as e:
            pass

    return data

In [86]:
data1=info(names[0:2])
data1

[{'name': 'The Band', 'birthdate': 'Toronto, Canada (1964)'},
 {'name': 'Najeeb Halaby', 'birthdate': 'November 19, 1915, Dallas, TX'}]

### study of the occupation from 'full_merge.csv'

In [280]:
dg=pd.read_csv('full_merge.csv', encoding="utf-8")
dg1=dg[['id','name','types']]
dg1
dgg=dg1[dg1['name'].str.contains("Jesse Jackson",na = False)]
dgg

,id,name,types
9,42512,"Rev Jesse Jackson, Sr","['Person', 'Political Candidate']"
10,29461,Jesse Jackson JR for Congress,"['Organization', 'Political Fundraising Commit..."
11,171244,Jesse Jackson Jr for Congress Committee,['Organization']
12,235612,Jesse Jackson for President '88 Cmte,"['Organization', 'Political Fundraising Commit..."
958,42512,"Rev Jesse Jackson, Sr","['Person', 'Political Candidate']"
959,29461,Jesse Jackson JR for Congress,"['Organization', 'Political Fundraising Commit..."
960,171244,Jesse Jackson Jr for Congress Committee,['Organization']
961,235612,Jesse Jackson for President '88 Cmte,"['Organization', 'Political Fundraising Commit..."
1023,42512,"Rev Jesse Jackson, Sr","['Person', 'Political Candidate']"
1024,29461,Jesse Jackson JR for Congress,"['Organization', 'Political Fundraising Commit..."
1025,171244,Jesse Jackson Jr for Congress Committee,['Organization']
1026,235612,Jesse Jackson for President '88 Cmte,"['Organization', 'Political Fundraising Commit..."
1265,42512,"Rev Jesse Jackson, Sr","['Person', 'Political Candidate']"
1266,29461,Jesse Jackson JR for Congress,"['Organization', 'Political Fundraising Commit..."
1267,171244,Jesse Jackson Jr for Congress Committee,['Organization']
1268,235612,Jesse Jackson for President '88 Cmte,"['Organization', 'Political Fundraising Commit..."

In [164]:
dg3=dg1[dg1['types'].str.contains("Person",na = False)]
dg3.head(5)
#dg3.count()  #2017 counts
#dg3['types'].unique()

,id,name,types
2,98373,Najeeb Elias Halaby,"['Person', 'Business Person', 'Public Official..."
3,218983,Najeeb Halaby,"['Person', 'Business Person']"
4,109517,Barry Commoner,"['Person', 'Academic', 'Political Candidate']"
5,90649,Jane Fonda,"['Person', 'Media Personality']"
6,150103,Anita Caspary,['Person']

In [223]:
#.str.replace('[','').str.replace(']','').str.replace("'",'').str.split( ",", expand=True)

s4=dg3['types'].str.replace("'Person'," ,'').str.replace("'Person'" ,'others')
dg4=pd.DataFrame(s4)

dg5=pd.merge(dg3,dg4,left_index=True, right_index=True)
#dg5['name'].value_counts()
#dg5.count()#2017 rows
dg5.head()

,id,name,types_x,types_y
2,98373,Najeeb Elias Halaby,"['Person', 'Business Person', 'Public Official...","[ 'Business Person', 'Public Official', 'Lawyer']"
3,218983,Najeeb Halaby,"['Person', 'Business Person']",[ 'Business Person']
4,109517,Barry Commoner,"['Person', 'Academic', 'Political Candidate']","[ 'Academic', 'Political Candidate']"
5,90649,Jane Fonda,"['Person', 'Media Personality']",[ 'Media Personality']
6,150103,Anita Caspary,['Person'],[others]

In [282]:
dfa = df_f.drop_duplicates(subset=['name'])#1228=>774 rows
dfb = dg5.drop_duplicates(subset=['name'])#2017=>474 rows

new_df = pd.merge(dfa, dfb, how='left', on='name')
new_df.head(100)
# new_df.count() #774rows
# new_dff=new_df[new_df['name'].str.contains("Hillary Clinton",na = False)]
# new_dff

,Unnamed: 0,name,year,decade,id,types_x,types_y
0,0,The Band,1970,1970s,NaN,NaN,NaN
1,1,Najeeb Halaby,1970,1970s,218983.0,"['Person', 'Business Person']",[ 'Business Person']
2,2,Biafra,1970,1970s,NaN,NaN,NaN
3,3,Barry Commoner,1970,1970s,109517.0,"['Person', 'Academic', 'Political Candidate']","[ 'Academic', 'Political Candidate']"
4,4,Jane Fonda,1970,1970s,90649.0,"['Person', 'Media Personality']",[ 'Media Personality']
5,5,Anita Caspary,1970,1970s,150103.0,['Person'],[others]
6,6,Jesse Jackson,1970,1970s,NaN,NaN,NaN
7,7,Günter Grass,1970,1970s,150097.0,"['Person', 'Media Personality']",[ 'Media Personality']
8,8,Richard Nixon,1970,1970s,56500.0,['Person'],[others]
9,9,Jim Lovell,1970,1970s,NaN,NaN,NaN
10,10,Leonid Brezhnev,1970,1970s,149588.0,['Person'],[others]
11,11,William H. Masters,1970,1970s,NaN,NaN,NaN
12,12,Arthur Burns,1970,1970s,NaN,NaN,NaN
13,14,Mike Nichols,1970,1970s,73294.0,"['Person', 'Media Personality']",[ 'Media Personality']
14,15,Edward Heath,1970,1970s,150091.0,"['Person', 'Elected Representative']",[ 'Elected Representative']
15,16,Jerry Vernon Wilson,1970,1970s,NaN,NaN,NaN
16,17,Henry Ford II,1970,1970s,70112.0,"['Person', 'Business Person']",[ 'Business Person']
17,18,Alaska,1970,1970s,NaN,NaN,NaN
18,19,William P. Rogers,1970,1970s,NaN,NaN,NaN
19,20,Howard Stein,1970,1970s,110621.0,"['Person', 'Business Person']",[ 'Business Person']
20,21,Kate Millett,1970,1970s,150087.0,"['Person', 'Media Personality']",[ 'Media Personality']
21,22,Elliott Gould,1970,1970s,109266.0,['Person'],[others]
22,23,John Fairchild,1970,1970s,NaN,NaN,NaN
23,25,Gamal Abdel Nasser,1970,1970s,150086.0,['Person'],[others]
24,26,Salvador Allende,1970,1970s,149920.0,['Person'],[others]
25,27,Adlai Stevenson III,1970,1970s,NaN,NaN,NaN
26,28,Martha Beall Mitchell,1970,1970s,150054.0,['Person'],[others]
27,29,Elmo Zumwalt,1970,1970s,NaN,NaN,NaN
28,30,Willy Brandt,1971,1970s,117406.0,"['Person', 'Political Candidate', 'Elected Rep...","[ 'Political Candidate', 'Elected Representati..."
29,31,Ali MacGraw,1971,1970s,150053.0,"['Person', 'Media Personality']",[ 'Media Personality']
...,...,...,...,...,...,...,...
70,77,George McGovern,1972,1970s,75681.0,"['Person', 'Elected Representative', 'Public O...","[ 'Elected Representative', 'Public Official']"
71,78,Võ Nguyên Giáp,1972,1970s,NaN,NaN,NaN
72,80,Kemmons Wilson,1972,1970s,149965.0,"['Person', 'Business Person']",[ 'Business Person']
73,81,Edwin Land,1972,1970s,149964.0,"['Person', 'Business Person']",[ 'Business Person']
74,82,Woody Allen,1972,1970s,149226.0,"['Person', 'Media Personality']",[ 'Media Personality']
75,83,Johnny Bench,1972,1970s,NaN,NaN,NaN
76,84,Kenneth Elstein,1972,1970s,NaN,NaN,NaN
77,86,Boris Spassky,1972,1970s,149962.0,"['Person', 'Media Personality']",[ 'Media Personality']
78,87,Thomas Eagleton,1972,1970s,NaN,NaN,NaN
79,88,Sargent Shriver,1972,1970s,NaN,NaN,NaN
80,90,Mark Spitz,1972,1970s,149960.0,"['Person', 'Media Personality']",[ 'Media Personality']
81,91,Redd Foxx,1972,1970s,149959.0,"['Person', 'Media Personality']",[ 'Media Personality']
82,93,Pat Nixon,1972,1970s,149866.0,"['Person', 'Media Personality']",[ 'Media Personality']
83,94,Joe Namath,1972,1970s,97375.0,['Person'],[others]
84,96,Richard Bach,1972,1970s,149955.0,"['Person', 'Media Personality']",[ 'Media Personality']
85,98,Ernest and Julio Gallo,1972,1970s,NaN,NaN,NaN
86,99,Liv Ullmann,1972,1970s,149954.0,"['Person', 'Media Personality']",[ 'Media Personality']
87,100,Don Shula,1972,1970s,97433.0,['Person'],[others]
88,102,Marlon Brando,1973,1970s,149934.0,"['Person', 'Media Personality']",[ 'Media Personality']
89,103,Ian Anderson,1973,1970s,149933.0,"['Person', 'Media Personality']",[ 'Media Personality']
90,105,Carlos Castaneda,1973,1970s,149929.0,['Person'],[others]
91,106,Robert A. Good,1973,1970s,NaN,NaN,NaN
92,107,L. Patrick Gray,1973,1970s,NaN,NaN,NaN
93,108,Muammar Gaddafi,1973,1970s,77590.0,['Person'],[others]
94,109,Sam Ervin,1973,1970s,113973.0,"['Person', 'Political Candidate', 'Elected Rep...","[ 'Political Candidate', 'Elected Representati..."
95,110,Pedro Arrupe,1973,1970s,149927.0,['Person'],[others]
96,111,Georg Solti,1973,1970s,149926.0,"['Person', 'Media Personality']",[ 'Media Personality']
97,113,John N. Mitchell,1973,1970s,NaN,NaN,NaN
98,116,John Dean,1973,1970s,NaN,NaN,NaN
99,118,Marilyn Monroe,1973,1970s,149923.0,"['Person', 'Media Personality']",[ 'Media Personality']

In [ ]:
#job1:' Business Person', ' Academic', ' Media Personality', None,
#       ' Elected Representative', ' Political Candidate',
#       ' Public Official', ' Lobbyist', ' Lawyer']

#job2:' Public Official', None, ' Political Candidate', ' Lawyer',
#       ' Elected Representative', ' Lobbyist', ' Business Person',
#       ' Academic', ' Media Personality'

#jjob3:' Lawyer', None, ' Public Official', ' Business Person',
#        ' Lobbyist', ' Political Candidate', ' Elected Representative',
#        ' Public Intellectual', ' Media Personality', ' Academic'
        
# job4:' Lawyer', ' Public Official', ' Public Intellectual'
# job5:' Lawyer', ' Elected Representative'
# job6: Business Person

Total categories: 'Business Person', ' Academic', ' Media Personality',
       ' Elected Representative', ' Political Candidate',
       ' Public Official', ' Lobbyist', ' Lawyer',' Public Intellectual', others
    No use

In [125]:
dg3.to_csv('dg3.csv', encoding='utf-8')

### wordCloud

In [ ]:
import numpy as np
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import pandas as pd
import matplotlib.pyplot as plt
from function_creation import draw_chart,draw_chart2, print_label, calc_means, calc_sems, count_sample

### metadata

In [ ]:
meta2=[{'decade':'overall','fact1':'Cold war ended, USSR collapsed',
        'fact2':'vietnam war ended',
        'fact3':'Apollo 15 lands on the moon',
        'fact4':'Islaeli-PLO tension ','fact5':'watergate',
        'fact6':'Los Angeles riots',
        'fact7':'Microsoft, Apple, google, etc started.',
        'fact8':'Donald J. Trump'},

       {'decade':'1970s','fact1':'Vietnam war ends',
        'fact2':'Apollo 15 lands on the moon',
        'fact3':'President Nixon makes an unprecedented visit to Communist China',
        'fact4':'U.S. signs peace pact and troops pull out of Vietnam',
        'fact5':'Nixon resigns over the Watergate Scandal',
        'fact6':'Pol Pot and the Khmer Rouge take over in Cambodia and begin a blood bath.',
        'fact7':'Microsoft, Apple coorporation founded',
        'fact8':'Jimmy Carter is elected the 39th President.'},

       {'decade':'1980s', 'fact1':'Ronald Reagan is elected president.',
        'fact2':'John Lennon of the Beatles is shot dead',
        'fact3':'The first cases of AIDS are identified',
        'fact4':'President Reagan is wounded by gunshots',
        'fact5':'Rome Pope John Paul II is wounded',
        'fact6':'Geroge Bush elected U.S. President',
        'fact7':'Soviet leader Leonid Brezhnev dies', 
        'fact8':'An explosion in the nuclear power plant at Chernobyl'},

       {'decade':'1990s', 'fact1':'The Cold War formally ends,& the USSR dissolves.',
        'fact2':'Gulf War against Iraq',
        'fact3':'Bill Clinton is elected president',
        'fact4':'Los Angeles riots after Rodney King incidence',       
        'fact5':'Rwandan genocide begins in Africa.',
        'fact6':'Timothy McVeigh bombs the Oklahoma City',
        'fact7':'outbreak of Mad Cow Disease in england', 
        'fact8':'President Bill Clinton: sex scandal,impeached'},

       {'decade':'2000s', 'fact1':'George W. Bush becomes President.',
        'fact2':'Attack on the World Trade Center:  September 11',
        'fact3':'Israeli tanks and warplanes attack West Bank towns',
        'fact4':'President Bush and Britain attacks Iraq ',
        'fact5':'Tsunami in Asia. At least 225,000 are killed.', 
        'fact6':'George W. Bush is re-elected.',
        'fact7':'Facebook takes off.', 
        'fact8':'Hurricane Katrina destroys much of the Gulf Coast'},

       {'decade':'2010s', 'fact1':'U.S. Navy SEALs Take Down Osama Bin Laden',
        'fact2':'Rise of ISIS',             
        'fact3':'Deepwater Horizon Explosion in the Gulf of Mexico',
        'fact4':'Sharing Economy Pioneers Airbnb and Uber',        
        'fact5':'U.S. Supreme Court Allows Same-Sex Marriage', 
        'fact6':'Donald J. Trump Becomes the 45th President of the United States',
        'fact7':'Facebook takes off.  WikiLeaks', 
        'fact8':'North-South Korea Tensions'}
     ]

df1_=pd.DataFrame(meta2)
df1_.to_csv('meta2.csv', index=False) 
df1_.head()